#fix {
	max-height: 40px;
	// height: 200px;
	margin: 10px 10px 0 10px;
	background-color: #ffffff;
	box-shadow: 0px 1px 1.66px 1px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	transition: all 0.3s ease;
	transition: max-height 0.5s ease-in-out;
	overflow: hidden;

	&:nth-last-child(1) {
		margin-bottom: 230px;
	}

	&:hover {
		box-shadow: 0px 0px 2px 3px #4190de;
		cursor: pointer;
		color: #282c34;
	}
}

.info {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0px 0px 10px;
	// color: #404040;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: 45px;
	// color: red;
}

.fix-count {
	float: right;
	margin-top: -23px;
	// margin-right: 5px;
	background-color: #282c34;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

.less {
	background-color: #c05353;
}

.add {
	background-color: #21d79d;
}

.match {
	background-color: #4190de;
}

.show-fix-contain {
	display: block;
	background-color: #282c34;
	margin-top: 15px;
	overflow: auto;
	color: white;
	font-size: 12px;
	font-family: monospace;
	letter-spacing: 1px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-evenly;
	cursor: default;

	div {
		padding: 10px 20px;
	}
}
