$blue: #516395;
$purple: #614385;

#outputfile {
	color: black;
	margin-top: 220px;
	background-color: #999999;
	height: 100vh;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0.7em;
	}

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		height: 90%;
	}

	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
}
.top-bar {
	background-color: #ffffff;
	position: fixed;
	top: 30px;
	height: 250px;
	width: 100%;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	user-select: none;
	border-bottom: 5px solid #4a4a4a;
}

.background-bar {
	width: 100%;
	position: absolute;
	background: linear-gradient(to right, #ffffff, #f2f1f1);
	height: 60%;
	margin-top: 50px;
	z-index: -100;
}

.sort {
	font-size: 12px;
	margin-left: 3%;
	color: #4a4a4a;
	font-weight: bold;
	letter-spacing: 1px;
	bottom: 17px;
	right: 0;
	text-align: center;
	position: absolute;
	margin-right: 37px;
	transition: all 0.1s ease;

	&:hover {
		cursor: pointer;
		color: $purple;
	}
}

.title {
	margin-top: 75px;
	font-size: 30px;
	letter-spacing: 4px;
	text-align: center;
	margin-left: 45%;
	color: #494949;
	text-align: left;
}

.byline {
	font-size: 12px;
	text-align: left;
}

.btns {
	text-align: left;
	margin-top: 10px;
	button {
		width: 100px;
		height: 30px;
		background-color: $blue;
		color: white;
		border-radius: 5px;
		outline: none;
		border: none;
		transition: all 0.2s ease-in-out;
		margin-right: 20px;
		box-shadow: 0px 1px 1.66px 1px rgba(0, 0, 0, 0.15);

		&:hover {
			cursor: pointer;
			background-color: lighten($blue, 15);
		}
	}

	.fix-matched {
		background-color: rgba(81, 99, 149, 0.3);
		cursor: default;
		margin-right: 20px;

		&:hover {
			background-color: rgba(81, 99, 149, 0.3);
			cursor: default;
		}
	}
}

.donut {
	position: absolute;
	margin-left: 100px;
	margin-top: 13px;
	width: 200px;
	svg {
		padding: 10px;
	}
}

.fix-count-number {
	color: #494949;
	position: absolute;
	margin-left: 78px;
	margin-top: 37px;
	font-size: 50px;
	text-align: center;
}

.file-saved {
	color: $purple;
	font-size: 13px;
	text-align: center;
	margin-right: 0px;
	display: inline-block;
	margin-right: 20px;
	width: 100px;
	height: 25px;
	vertical-align: middle;
}

.file-updated {
	color: $purple;
	font-size: 13px;
	text-align: center;
	margin-right: 0px;
	display: inline-block;
	margin-right: 20px;
	width: 100px;
	height: 25px;
	vertical-align: middle;
}

.start-over {
	margin-top: 155px;
	text-align: center;
	width: 80%;
	background-color: #ffffff;
	margin-left: 55px;
	padding: 25px;
	font-weight: bold;
	border-radius: 5px;
	letter-spacing: 2px;
	box-shadow: 0px 1px 1.66px 1px rgba(0, 0, 0, 0.15);

	button {
		margin-top: 25px;
		width: 140px;
		height: 45px;
		background-color: #c05353;
		color: white;
		border-radius: 5px;
		outline: none;
		border: none;
		font-size: 14px;
		letter-spacing: 2px;
		font-weight: bold;
		transition: all 0.2s ease-in-out;
		margin-right: 20px;
		box-shadow: 0px 1px 1.66px 1px rgba(0, 0, 0, 0.15);

		&:hover {
			cursor: pointer;
			background-color: #c02727;
		}
	}

	.over-btn {
		background-color: #27c09a;
		&:hover {
			cursor: pointer;
			background-color: #049c76;
		}
	}
}
