#dragarea {
	height: calc(100vh - 80px);
	padding: 50px 30px;
	transition: opacity 1s ease-out;
}

.drag-area {
	height: 100%;
	border: 10px dashed #cfcfcf;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	font-size: 1.2em;
}

.drag-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #a5a5a5;
	text-align: center;

	button {
		background: #a5a5a5;
		border: 0;
		color: #eeeeee;
		padding: 12px 40px;
		margin-top: 12px;
		cursor: pointer;
		font-size: 20px;
		letter-spacing: 4px;
		border-radius: 5px;

		&:hover {
			background: linear-gradient(to right, #516395, #614385);
		}
	}
	.drag-title {
		font-size: 30px;
		padding-bottom: 30px;
		letter-spacing: 2px;
	}
	i {
		font-size: 90px;
		padding-bottom: 20px;
	}
	small {
		font-size: 30px;
		padding-bottom: 20px;
	}
}
.fa-upload {
	font-size: 2.8em;
	padding-bottom: 10px;
}
